body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    margin: 12px;
    margin-bottom: 0;
}

.deck-and-combo {
    display: flex;
    flex: 1;
}

.deck, .combo {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 12px;
}

.textarea-controller {
    margin-bottom: 12px;
}

.textarea-wrapper {
    flex: 1;
}

.textarea {
    height: 100%;
    width: 100%;
    resize: none;
}